<!-- <h1>Comments#new</h1>
<p>Find me in app/views/comments/new.html.erb</p> -->

<%= form_for [@post, @comment] do |form| %>
  
  <%= form.label :text %>
  <%= form.text_field :text %>

  <%= form.submit 'Send your comment' %>

<% end %>