<!-- <h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p> -->

<h3>All my posts so far</h3>
<ul>
<% @posts.each do |post| %>
  <li> <%= link_to post.title, posts_path(post) %> </li>
<% end %>
</ul>